body {
    background: hsl(125, 34%, 25%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h2 {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: min(2em,3vw);
    color: white;
    text-align: center;
    margin-top: 0;
}


h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: min(2.5vw, 1.5em);
    color: hsl(125, 34%, 25%);
    text-align: center;
}

#button-container {
    display: flex;
}

header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

#nav-bar {
    height: 5.5em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: clamp(3em, 7vw + 1em, 5.5em);
    padding: 0% 2%;
    background-color: hsl(120, 12%, 32%);
}

.nav-toggle {
    display: none;
}

#logo {
    max-height: 4.5rem;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item {
    display: inline-block;
    padding: 0 2em;
    text-decoration: none;
}

li a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: min(2vw, 1.5em);
    color: white;
    text-align: center;
    text-decoration: none;
}

.banner {
    width: 100%;
    display: flex;
    position: relative;
    aspect-ratio: 3 / 1;
    min-height: 5em;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.banner-image {
    width: 100%;
    position: absolute;
    top: -15vw;
}

.banner-text {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em 1em;
    z-index: 5;
    position: absolute;
    align-self: center;
    font-size: max(5vw, 1vw);
}

section {
    background-color: white;
    position: relative;
    padding-bottom: 3em;
}

.label-div {
    width: 100%;
    background-color: hsl(125, 34%, 25%);;
}

.search-heading {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: min(4.5vw, 2.5em);
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 1em 0 .5em 0;
}

.search-label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: min(3.5vw, 1.5em);
    font-weight: bold;
    color: hsl(125, 34%, 25%);
    margin-left: 30vw;
}

.search-bar {
    width: 30%;
    margin: 1em 0 1em .5em;
    font-size: min(3.5vw, 1.5em);
}

#search-results {
    margin: 0 3vw 1em 5vw;
}

.search-list-item {
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: hsl(125, 34%, 25%);
    padding: .4em 1em;
    margin: .5em .5vw;
    border-radius: 1em;
}

.no-search-list-item {
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: hsl(120, 1%, 35%);
    padding: .4em 1em;
    margin: .5em .5vw;
    border-radius: 1em;
}

#animals-list {
    margin: 0 0 0 5vw;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.animal-list-item {
    font-family: Helvetica, Arial, sans-serif;
    color: hsl(125, 34%, 25%);
    padding-bottom: .2em;
    margin-left: 2.5vw;
}

footer {
    position: absolute;
    right: 3em;
    padding-bottom: .1em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: min(2vw, 1em);
    color: white;

}

@media (max-width: 718px) {
    h2 {
        font-size: max(1em,3vw);
    }
    
    h3 {
        font-size: max(2.5vw, 1em);
    }
    
    h3 span {
        font-size: 4vw;
    }

    .nav-item {
        padding: 0 1em;
    }

    li a {
        font-size: max(2vw, 1em);
    }

    #logo {
        height: 9.5vw;
    }

    .search-label {
        margin-left: 28vw;
    }

    #animals-list {
        margin: 0 0 0 5vw;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

@media (max-width: 590px) {
    .nav-links li {
        padding-left: 0em;
    }

    li a {
        font-size: max(2.6vw, .8em);
    }

    #nav-bar {
        padding-right: 0%;
    }

    .nav-links {
        position: relative;
        flex-direction: column;
        display: none;
        width: 8em;
        height: 100vh;
        align-self: start;
        background-color: rgba(54, 68, 54, 0.837);
        margin: 0px;
        right: -9em;
        padding-inline-start: 1em;
        transition: right 300ms ease-out;
    }

    .nav-item {
        padding: .5em 0%;
        justify-self: left;
        opacity: 1;
    }

    #nav-1 {
        margin-top: 2.4em;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        background-image: url('../resources/images/hamburger-menu.png');
        background-color: transparent;
        background-size: 3em;
        background-repeat: no-repeat;
        width: 3em;
        aspect-ratio: 1;
        border: none;
        z-index: 200;
        top: .5em;
        right: .5em;
        cursor: pointer;
    }

    .search-label {
        margin-left: 25vw;
    }

    #animals-list {
        margin: 0 0 0 12vw;
        columns: 2;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

@media (max-width: 430px) {
    h2 {
        font-size: max(.8em,3.8vw);
    }
    
    h3 {
        font-size: .9em;
    }
    
    h3 span {
        font-size: 1.1em;
    }
}

@media (hover: hover) {
    .nav-item:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }
}